:root > * {
  --md-primary-fg-color: #2ea043;
  --md-primary-fg-color--light: #3fb950;
  --md-primary-fg-color--dark: #238636;
  --md-primary-bg-color: #0d1117;
  --md-primary-bg-color--light: #0d1117b3;
}
