:root > * {
  --md-primary-fg-color: #008000;
  --md-primary-fg-color--light: #339933;
  --md-primary-fg-color--dark: #006600;
  --md-primary-bg-color: #0d1117;
  --md-primary-bg-color--light: #0d1117b3;
}

body, .md-typeset { font-family: Helvetica, Arial, sans-serif; }
code, kbd, pre { font-family: Menlo, Consolas, "Courier New", monospace; }
